html{
      cursor:none;
      cursor:url(Screenshot__5_-removebg-preview.png),auto;
      
}
button {
    background-color:purple;
    color:violet;
    border-radius:100px;
    transition:background-color 1.0 ease;
}
button:hover {
    background-color:indigo;
}
h1{
    background-color: #8F99FB;
}
body {
  box-sizing: 10cm;
}
header{
  padding:100%;
  background-color:darkorchid;
}
body { 
  font-family: Arial, sans-serif; padding: 2rem; 
}
    form { 
      margin-bottom: 2rem; 
    }
    label {
       display: block; margin: 0.5rem 0 0.2rem;
       color:hotpink;
       font-family: "Cherry Cream Soda", system-ui;
       }
    input {
       padding: 0.4rem; width: 300px; 
    }
    button {
       margin-top: 1rem; padding: 0.5rem 1rem; 
      }
.autism {
 background-color: thistle;
}










