button {
    background-color:cyan
    color:teal;
    border-radius:100px;
    transition:background-color 1.0 ease;
}

button:hover {
    background-color:darkred;
}
h1{
    background-image: linear-gradient(180deg,red,orange,yellow,green,cyan,blue,purple,pink);
}
p {
  background-image: linear-gradient(180deg,red,green,blue,yellow);
}
body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(
    89.7deg,
    rgba(223, 0, 0, 1) 2.7%,
    rgba(214, 91, 0, 1) 15.1%,
    rgba(233, 245, 0, 1) 29.
















